.second {
  width: 100vw;
  height: 60vh;
}

.second__main {
  width: 100%;
  height: 100%;
  max-width: var(--max-width);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.second__title {
  display: flex;
  justify-content: space-between;
}

.second__title-pro {
  font-weight: 800;
  font-size: 25px;
}

.second__title-show {
  border-bottom: 2px solid black;
  font-weight: 600;
  font-size: 17px;
}

.second__cards {
  display: flex;
  align-items: center;
  gap: 20px;
}

.second__cards > span {
  color: #ccc;
  font-size: 20px;
}

.second__cards > span:hover {
  cursor: pointer;
}

.second__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}

.second__imgBox {
  width: 100%;
}

.second__imgBox:hover {
  background-color: #777;
}

.second__imgBox > img {
  width: 100%;
  transition: all 0.5s;
}

.second__imgBox > img:hover {
  opacity: 0.9;
}

.second__name {
  font-size: 13px;
  font-weight: 700;
}

.second__name > span:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .second {
    max-width: 375px;
    margin: 0 auto;
    height: auto;
  }

  .second__main {
    width: 100%;
  }

  .second__title {
    font-size: 15px;
  }
}
